<div style="display:block; padding-top:100px; text-align:center">
    <h3>Заявка принята. Позже с вами свяжется менеджер.</h3>
    <button asp-controller="UserMain" asp-action="Index" type="submit">Вернуться на главную</button>
</div>