<div style="display: block; padding: 100px 0 0 0; text-align:center">
    <h3>Заказ оформлен. Позже с вами свяжется менеджер, для уточнения деталей.</h3>
    
    <div style="display: block; padding-top: 75px;">
        <form asp-area="User" asp-controller="UserMain" asp-action="Index">
            <button>На главную</button>
        </form>
    </div>
</div>