
<section id="banner">

    <div class="inner">
        <h4>Добро пожаловть на CarTime</h4>
        <p>
            Здесь вы сможете найти машину мечты.
        </p>
        <div style="display:inline-block; padding-top:30px;">
            <form asp-controller="Cars" asp-action="Index">
                <button type="submit" style="padding-right:20px;">Заказать авто</button>
            </form>
        </div>
        <div style="display:inline-block;">
            <form asp-controller="ReturnCar" asp-action="Index">
                <button type="submit">Вернуть авто</button>
            </form>
        </div>
    </div>

</section>