@model IQueryable<BrandItem>
@{
    string strTitle = "Марки доступных авто";
    ViewBag.Title = "Brands";
}

<div>
    <h2 align="center">@strTitle</h2>
        @if (Model.Any())
        {
            foreach (BrandItem brand in Model)
            {
                <div style="padding: 10% 0 5% 5%; display: inline-block">
                    <a asp-area="" asp-controller="Cars" asp-action="Index" asp-route-Title="@brand.Title">
                        <img src="~/img/@brand.TitleImagePath" alt="" width="90%" height="80%"/>
                    </a>
                </div>
            }
        }
</div>