<header id="header" class="alt">
    <h2 id="logo" style="color: white;"><a href="/">@Config.CompanyName</a></h2>
    <nav id="nav">
        <ul>
            <li><a asp-controller="ShopCart" asp-action="Index">Корзина</a></li>
            <li><a asp-controller="Account" asp-action="Login" method="post" class="button primary">Sign In</a></li>
            <li><a asp-controller="Account" asp-action="Register" class="button primary">Sign Up</a></li>
        </ul>
    </nav>
</header>