@model BrandItem

    <div style="display: block; padding: 150px 50px 50px 50px; width:500px">
        <form asp-area="Manager" asp-controller="EditBrand" asp-action="Add" method="post">
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="DateAdding" />
            @if (ViewBag.Except == true)
            {
                <div>
                    <p>Такой бренд уже существует.</p>
                </div>
            }

            <div style="display: block;">
                <lable asp-for="Title">Название</lable>
                <input asp-for="Title" type="text" />
                <span asp-validation-for="Title"></span>
            </div>
            <div style="display: block;">
                <lable asp-for="TitleImagePath">Изображение</lable>
                <input asp-for="TitleImagePath" type="file" />
                <div style="width:400px; height:250px;">
                    <img src="~/img/brands/@Model.TitleImagePath" width="100%" height="100%"/>
                </div>
            </div>
            <input type="submit" value="Добавить" />
        </form>
    </div>

