@model ShopCartViewModel

<div style="padding: 150px 50px 0 0; display: block">
    @foreach (var cart in Model.shopCart.ListShopItems)
    {
        <div style="display:inline-block; padding:0 0 20px 50px;">
            <div style="width:280px; height:200px;">
                <img src="~/img/cars/@cart.CarItem.TitleImagePath" width="100%" height="100%" />
            </div>
            <div style="display:block;">
                @cart.CarItem.Title
                @cart.CarItem.Price
            </div>
            <div style="display:block;">
                <a asp-controller="ShopCart" asp-action="DeleteFromCart" asp-route-shopCartItemId="@cart.Id" method="get">Удалить из корзины</a>
            </div>
        </div>
    }
</div>
<div style="padding: 0 50px 20px 50px;">
    <div style="display: inline-block;">
        <p>
            @Model.Price
        </p>
        <form asp-controller="Order" asp-action="Index" method="get">
            <button type="submit">Оплатить</button>
        </form>
    </div>
    <div style="padding-left:20px; display: inline-block;">
        <form asp-controller="Cars" asp-action="Index">
            <button type="submit">К списку авто</button>
        </form>
    </div>
</div>